{{ form_start(form) }}
<div class="ui form">
    <div class=" field">
        <label>车牌号</label>
        {#<p>{{ maintentance.rentalCar.license }}</p>#}
        <p>车牌号</p>
    </div>

    <div class=" field">
        <label>事故原因</label>
        {#<p>{{ maintentance.maintenanceReason }}</p>#}
        <p>事故原因</p>
    </div>

    <div class=" fields">

        <div class="eight wide field">
            <label>事故时间</label>
            {#<input readonly value ='{{ maintentance.downTime|date('Y-m-d H:i:s') }}' name="claimTime">#}
        </div>

        <div class=" eight wide field">
            <label>{{ form_label(form.insuranceRecord) }}</label>
            {{ form_widget(form.insuranceRecord,{'attr': {'placeholder':'投保类型'}} ) }}
        </div>
    </div>


    <div class="field">
        <label>{{ form_label(form.applyTime) }}</label>
        {{ form_widget(form.applyTime,{'attr': {'placeholder':'交案时间'}} ) }}
    </div>
    <div class="field">
        <label>{{ form_label(form.settleTime) }}</label>
        {{ form_widget(form.settleTime,{'attr': {'placeholder':'理赔到账时间'}} ) }}
    </div>
    <div class="field">
        <label>理赔金额（元）</label>
        {{ form_widget(form.claimAmount,{'attr': {'placeholder':'2000'}} ) }}
    </div>

    <button  class="ui teal button " onclick="JavaScript:history.back(-1);">返回</button>
    <button class="ui teal button" type="submit">保存</button>
</div>
{{ form_end(form) }}
