<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>微信支付</title>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script type="text/javascript">

        //调用微信JS api 支付
        function jsApiCall() {
            WeixinJSBridge.invoke(
                    'getBrandWCPayRequest',
                    {"appId":"{{ jsApiParametersArr.appId }}",
                        "nonceStr":"{{ jsApiParametersArr.nonceStr }}",
                        "package":"{{ jsApiParametersArr.package }}",
                        "signType":"{{ jsApiParametersArr.signType }}",
                        "timeStamp":"{{ jsApiParametersArr.timeStamp }}",
                        "paySign":"{{ jsApiParametersArr.paySign }}"},
                    function(res){
                        location.href="{{ path('auto_mobile_deposit_list',{ 'id':2 }) }}";
                      setInterval(function(){ location.href="{{ path('auto_mobile_deposit_list',{ 'id':2 }) }}"},1000);
                        WeixinJSBridge.log(res.err_msg);
                       // alert(res.err_code+res.err_desc+res.err_msg);
                        }
            );
        }

        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
        callpay();

    </script>

</head>
<body>

</body>
</html>