{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['black', 'list'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'列表','prenav':'黑名单'} %}
     <div class="ui main-search grid">
         <div class="ui top attached menu tabular no_border">
             <a class="active item font-normal bk_gray no_border">黑名单</a>
             <a class="item " href="{{ path("auto_admin_appeal_list") }}">申诉管理</a>
         </div>
         <div class="fifteen wide column">
             <form action="{{ path("auto_admin_blacklist_search") }}" method="post">
                 <table class="ui very basic table">
                     <tbody>
                     <tr>
                         <td>
                             <select name="status" class="ui dropdown">
                                 <option>拉黑种类</option>
                                 {#<option value="1">未付款</option>#}
                                 <option value="1">个人征信不良</option>
                                 <option value="2">严重违反用户协议</option>
                                 <option value="3">车辆租赁严重过失</option>
                                 {#<option value="5">其他不良</option>#}
                             </select>

                         </td>
                         <td >
                             <input class="time_input" type="text" name="mobile" placeholder="手机号" >
                         </td>

                         <td>
                             <input  class="time_input" type="text" name="idNumber" placeholder="驾驶证号">
                         </td>
                         <td>
                             <button class="ui teal button" type="submit">搜索</button>
                         </td>
                         {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COO') or is_granted('ROLE_REGION_MANAGER') %}
                         <td>
                             <a href="{{ path('auto_admin_blacklist_new') }}" class="ui teal button">添加黑名单</a>
                         </td>
                         {% endif %}
                     </tr>
                     </tbody>
                 </table>
             </form>
         </div>
     </div>



     <div class="ui main-content grid">

         {% if  blacks  %}
         <div class="fifteen wide column">
             <table class="ui very basic table">
                 <thead>
                 <tr>
                     <th>姓名</th>
                     <th>手机号</th>
                     <th>驾驶证号</th>
                     <th>拉黑种类</th>
                     <th>操作</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for black in blacks %}
                     <tr>
                         <td>{{ black.authMember.member.name }}</td>
                         <td>{{ black.authMember.member.mobile }}</td>
                         <td>{{ black.authMember.IDNumber }}</td>

                         <td>
                             {% if black.reason==1 %}个人征信不良
                             {% elseif black.reason==2 %}严重违反用户协议
                             {% elseif black.reason==3 %}车辆租赁严重过失

                             {% endif %}</td>

                         <td>
                             <a href="{{ path('auto_admin_blacklist_show',{'id':black.id})
                             }}">详情 </a>
                         </td>

                     </tr>
                 {% endfor %}
                 </tbody>
             </table>

             {% if total > 1 %}
                 {% spaceless %}
                     {% set l = min(max(1, page - 2), total - 4) %}
                     {% set h = l + 4 %}

                     {% set k = 1 %}
                     <div class="ui pagination menu">
                         {% for i in 1..9 %}
                             {% if k <= 2 or (l <= k and k <= h) or (total - 1 <= k and k <= total) %}
                                 {% if k != page %}
                                     <a class="item" href="{{ path("auto_admin_black_list",{'page':k,'status':status,'idNumber':idNumber,'mobile':mobile}) }}">{{
                                 k }}</a>{#,'status':status#}
                                 {% else %}
                                     <a class="active item">{{ k }}</a>
                                 {% endif %}
                             {% endif %}

                             {% if (k == 2 and l > 3) or (k == h and h < total - 2) %}
                                 <i>&hellip;</i>
                                 {% set k = k == 2 ? l : total - 1 %}
                             {% else %}
                                 {% set k = k + 1 %}
                             {% endif %}
                         {% endfor %}
                     </div>
                 {% endspaceless %}
             {% endif %}

         </div>
         {% else %}
             {% if idNumber %}
         <div class="fifteen wide column">
             <table class="ui very basic table">
                 <tbody>
                 <tr>
                     <td style="text-align: center">您输入的驾驶证号<span class="red">{{ idNumber }}</span>无此驾驶证信息，请核实</td>
                 </tr>
                 </tbody>
             </table>
          </div>
             {% endif %}

         {% endif %}

     </div>




 {% endblock %}
