{{ form_start(form) }}
<div class="ui form">
    <div class=" fields">
        <div class="four wide field">
            <label class="required">省/直辖市</label>
            <select class="ui dropdown" id="country" data-cascading="#provincial" data-src="{{ path('auto_admin_area_all') }}"></select>
        </div>
        <div class="four wide field">
            <label class="required">市</label>
            <select class="ui dropdown" id="provincial" data-cascading="#area"></select>
        </div>
        <div class="four wide field">
            <label class="required">区/县</label>
            <select class="ui dropdown" id="area"></select>
        </div>
        <div class="four wide field">
            <label class="required">租赁点名称</label>
            <select   name="rental_station" id="rental_station" class="ui dropdown"></select>
        </div>
    </div>

    <div class="fields">
        <div class="eight wide field">
            <label>{{ form_label(form.kind) }}</label>
            {{ form_widget(form.kind,{'attr': {'class':'ui dropdown'}} ) }}
        </div>
        <div class="eight wide field">
            <label>{{ form_label(form.discount) }}</label>
            {{ form_widget(form.discount,{'attr': {'class':'ui dropdown'}} ) }}
        </div>
    </div>

    <div class="fields">
        <div class="eight wide field">
            <label>{{ form_label(form.startTime) }}</label>
            {{ form_widget(form.startTime,{'attr': {'placeholder':'开始日期'}} ) }}
        </div>
        <div class="eight wide field">
            <label>{{ form_label(form.endTime) }}</label>
            {{ form_widget(form.endTime,{'attr': {'placeholder':'结束日期'}} ) }}
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('/bundles/autoadmin/js/module/laydate.js') }}"></script>
    <script>
        var start = {
            elem: '#form_startTime',
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
            min: laydate.now(),
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        }
        var end = {
            elem: '#form_endTime',
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
            min: laydate.now(),
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        }
        laydate(start);
        laydate(end);
    </script>



    <button  class="ui teal button " onclick="JavaScript:history.back(-1);">返回</button>
    <button class="ui teal button" type="submit">保存</button>
</div>
{{ form_end(form) }}
