{% extends "AutoOperateBundle::base.html.twig" %}
{% set page_id  = ['car','create'] %}

{% block content %}
    <div class="top-menu">
        添加车型
        <a href="{{ path("auto_operate_body_type_list") }}" class="left-cont"><b></b></a>
        <span><a href="javascript:window.location.reload();" >重置</a></span>
    </div>

    <section class="car-menu">
        <li>车型<span class="text-r">
                {{ form_widget(form.name,{'attr': {'placeholder':'车型','class':'ui dropdown' }} ) }}
            </span>
        </li>
        <li>长度（mm）<span class="text-r">
               {{ form_widget(form.length,{'attr': {'placeholder':'长度','class':'ui dropdown'}} ) }}
            </span>
        </li>
        <li>高度（mm）<span class="text-r">
               {{ form_widget(form.width,{'attr': {'placeholder':'宽度','class':'ui dropdown'}} ) }}
            </span>
        </li>
        <li>宽度（mm）<span class="text-r">
               {{ form_widget(form.height,{'attr': {'placeholder':'高度','class':'ui dropdown'}} ) }}
            </span>
        </li>
        <li>最大续航（km）<span class="text-r">
               {{ form_widget(form.driveMileage,{'attr': {'placeholder':'高度','class':'ui dropdown'}} ) }}
            </span>
        </li>
    </section>
    <section class="car-menu">
        <li>车门数<span class="text-r">
               {{ form_widget(form.doors,{'attr': {'placeholder':'高度','class':'ui dropdown'}} ) }}
            </span>
        </li>
        <li>座位数<span class="text-r">
               {{ form_widget(form.seats,{'attr': {'placeholder':'高度','class':'ui dropdown'}} ) }}
            </span>
        </li>
    </section>
    <section class="car-menu">
        <li>车身结构<span class="text-r">
               {{ form_widget(form.bodyType,{'attr': {'placeholder':'车身结构','class':'ui dropdown'}} ) }}
            </span>
        </li>
        <li>级别<span class="text-r">
               {{ form_widget(form.level,{'attr': {'placeholder':'座位数','class':'ui dropdown'}} ) }}
            </span>
        </li>

    </section>

{% endblock %}