{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['car', 'list'] %}
 {% block content %}
     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'列表','prenav':'优惠活动'} %}
     <div class="ui main-content grid">




         <div class="ten wide column">
             <table class="ui very basic table">
                 <thead>
                 <tr>
                     <th>优惠券活动名称</th>
                     <th>可用优惠券</th>
                     <th>每人发放个数</th>
                     <th>上线状态</th>
                     <th>操作</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for activity in activities %}
                     <tr>
                         <td>{{ activity.name }}</td>
                         <td>
                         {% for kind in activity.kinds %}
                             {{ kind.name }}-{{ kind.amount }} |
                         {% endfor %}
                         </td>
                         <td>{{ activity.count }}</td>
                         <td>
                         {% if activity.online==1 %}
                             上线中
                         {% else %}
                             下线中
                         {% endif %}
                         </td>
                        <td><a href="{{ path('auto_admin_coupon_activity_add_kind',{id:activity.id}) }}" >添加类型</a></td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>



             {% if total > 1 %}
                 {% spaceless %}
                     {% set l = min(max(1, page - 2), total - 4) %}
                     {% set h = l + 4 %}

                     {% set k = 1 %}
                     <div class="ui pagination menu">
                         {% for i in 1..9 %}
                             {% if k <= 2 or (l <= k and k <= h) or (total - 1 <= k and k <= total) %}
                                 {% if k != page %}
                                     <a class="item" href="{{ path("auto_admin_coupon_activity_list",{'page':k}) }}">{{ k }}</a>
                                 {% else %}
                                     <a class="active item">{{ k }}</a>
                                 {% endif %}
                             {% endif %}

                             {% if (k == 2 and l > 3) or (k == h and h < total - 2) %}
                                 <i>&hellip;</i>
                                 {% set k = k == 2 ? l : total - 1 %}
                             {% else %}
                                 {% set k = k + 1 %}
                             {% endif %}
                         {% endfor %}
                     </div>
                 {% endspaceless %}
             {% endif %}

         </div>
         <div class="one wide column">
         </div>

         <div class="four wide monitor column">
             <div class="ui secondary vertical pointing menu">
                 <a class="active item">优惠券活动列表 </a>
                 <a href="{{ path('auto_admin_coupon_activity_new') }}" class="item">添加活动 </a>
             </div>
         </div>
     </div>


 {% endblock %}
