{% extends "AutoOperateBundle::base.html.twig" %}
{% set page_id  = ['rental_car','searchlicense'] %}

{% block content %}
    <div class="top-menu">
        搜索车辆
        <a href="{{ path("auto_operate_index") }}"  class="left-cont"><b></b></a>
        <span><a href="javascript:window.location.reload();" class="refresh">刷新</a></span>
    </div>
    <div class="search-top">
        <div class="licensePlace"><p class="top-text">
            {% if place==-1 %}{{ licensePlaces[0].name }}
                {% else %}
                {% for licensePlace in licensePlaces %}
                    {% if licensePlace.id==place %}
                        {{ licensePlace.name }}
                    {% endif %}
                {% endfor %}
            {% endif %}
                    </p>
            <span class="arrow1 "></span>
            <div class="dropdown">
                {% for licensePlace in licensePlaces %}
                <div class="drop-li{% if  place==-1 %}{% if licensePlace.id==licensePlaces[0].id %} check{% endif  %} {% elseif licensePlace.id==place %} check {% endif  %}" placeid="{{ licensePlace.id }}">{{ licensePlace.name }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="input"><input type="text" placeholder="请输入车牌号" /></div>
        <div class="button">搜索</div>
    </div>
    <form class="car-search"  method="post" action="{{ path('auto_operate_search_license_car') }}" >
        <input type="hidden"   class="plate" name="plate" value="" />
        <input type="hidden" class="place" name="place" value="{% if place==-1 %}{{ licensePlaces[0].id }}{% else %}{{ place }} {% endif %}" />
    </form>

    <div class="container">
        {% if not rentalCars and place!=-1 %} <div class="no-car">对不起，无此车辆信息。</div>{% endif %}
        {% for rentalCar in rentalCars %}
        <a href="{{ path('auto_operate_rental_car_show',{'id':rentalCar.rentalCarID}) }}">
            <div class="car-cont {% if rentalCar.status==301  %}onrent{% endif %} ">
                <div class="row clearfix">
                    <div class="left-cont">
                        <div class="img-cont">
                            <img src="{{ rentalCar.image }}">
                        </div>
                    </div>
                    <div class="right-cont">
                        <div class="text">
                            <p>{{ rentalCar.license }}</p>
                            <p><span class="car-t">车型：</span>{{ rentalCar.car.name }}&nbsp;&nbsp;
                                <span class="car-t"> 续航：</span>
                                {% if rentalCar.mileage %}
                                    {{ rentalCar.mileage }} km
                                {% else %}
                                    <span class="color-red">异常</span>
                                {% endif %}
                            </p>
                            <p class="status">
                                {% if rentalCar.online ==1 %}已上线{% else %}已下线{% endif %}&nbsp;&nbsp;-
                                {% if rentalCar.status == 300 %}<span class="color-green">未租赁</span>
                                {% elseif rentalCar.status == 301 %}<span class="color-yellow">租赁中</span>
                                {% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>
                        {{ rentalCar.rentalStation.name }}
                    </p>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}