{{ form_start(form) }}
<div class="ui form">

    <div class=" fields">
        <div class="eight wide  field">
            <label>父级车</label>
            <input type="text" value="{{ parentPlateNumber }}" readonly="readonly" />
        </div>
        <div class="eight wide  field">
            <label>{{ form_label(form.thirdPartyLicensePlate) }}</label>
            {{ form_widget(form.thirdPartyLicensePlate,{'attr': {'placeholder':'请输入三者车车牌号'}} ) }}
        </div>
    </div>

    <div class="field" style="display: none;">
        <label>{{ form_label(form.formType.kind) }}</label>
        {{ form_widget(form.formType.kind,{'attr': {'placeholder':'保险类型','class':'ui dropdown'}} ) }}
    </div>


    <div class="field" >
        <label>{{ form_label(form.formType.maintenanceReason) }}</label>
        {{ form_widget(form.formType.maintenanceReason,{'attr': {'placeholder':'请输入事故原因' }} ) }}
    </div>


    <div class="fields">
        <div class="eight wide field">
            <label>{{ form_label(form.downTime) }}</label>
            {{ form_widget(form.downTime ) }}
        </div>
        <div class="eight wide field">
            <label>{{ form_label(form.formType.maintenanceAmount) }}</label>
            {{ form_widget(form.formType.maintenanceAmount,{'attr': {'placeholder':'请输入定损金额' }} ) }}
        </div>
    </div>
    <div class="field">
        <label>{{ form_label(form.formType.maintenanceProject) }}</label>
        {{ form_widget(form.formType.maintenanceProject,{'attr': {'placeholder':'请填写维修项目' }}) }}
    </div>

    <div class=" fields" >
        <div class="eight wide field">
            <label>{{ form_label(form.formType.company) }}</label>
            {{ form_widget(form.formType.company,{'attr': {'placeholder':'请输入修理厂名称' }}) }}
        </div>
        <div class="eight wide field">
            <label>{{ form_label(form.maintenanceTime) }}</label>
            {{ form_widget(form.maintenanceTime) }}
        </div>
    </div>


    <div class="photographs">
        {% set name = form.formType.images.vars.prototype.vars.full_name|replace({'__name__': ''}) %}
        {% for p in form.formType.images %}
            <div class="field photograph">
                <img src="{{ p.vars.value starts with 'http://' ? p.vars.value : p.vars.value|photograph }}">
                {{ form_widget(p, {full_name: name}) }}
                <button type="button" class="close" data-dismiss="photograph">&times;</button>
            </div>
        {% endfor %}
        <button class="ui basic button add-file watermark"><i class="icon photo"></i> 上传图片 </button>
        <script type="text/x-handlebars-template" class="template">
            <div class="field photograph">
                <img src="{{ '{{ path }}' }}">
                {{ form_widget(form.formType.images.vars.prototype, {full_name: name, value: '{{ localname }}'}) }}

                <button type="button" class="close" data-dismiss="photograph">&times;</button>
            </div>
        </script>

    </div>
    {% do form.formType.images.setRendered %}


    <button  class="ui teal button " onclick="JavaScript:history.back(-1);">返回</button>
    <button class="ui teal button" type="submit">保存</button>

    <script type="text/javascript" src="{{ asset('/bundles/autoadmin/js/module/laydate.js') }}"></script>
    <script>
        var start = {
            elem: '#form_downTime',
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
        }
        var end = {
            elem: '#form_maintenanceTime',
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
//
        }
        laydate(start);
        laydate(end);
    </script>
</div>
{{ form_end(form) }}
