{% extends "AutoWapBundle::base.html.twig" %}
{% import "AutoManagerBundle:Account:_authError.html.twig" as autherror %}

{% set page_id  = ['account', 'auth'] %}
{% block content %}

    <div class="top-menu">
        个人信息
        <a href="{{ path("auto_wap_index") }}"><b></b></a>

    </div>



    {% include "AutoWapBundle:Account:_status.html.twig" %}


   	<div class="auth-notice">
        <div class="auth-notice-text">
        {% if auth.status==200 %}
            租赁车辆前须完成驾驶证认证
        {% endif %}
            {% if auth.status==202 %}
                驾驶证认证失败 请重新上传资料
        {% endif %}
        </div>
   	</div>
   
   
   
   <form action="{{ path('auto_wap_account_auth_upload') }}"  method="post" enctype="multipart/form-data">

    <div class="auth-file">
        {% if auth.status==200 %}
        	<p>依据范例横向拍摄驾驶证正面照，请保证图片清晰。驾照领取需一年以上。</p>  
        {% elseif  auth.status==201 %}
        	<p>租赁车辆前须完成驾驶证认证</p> 
        {% elseif  auth.status==202 %}
        	<p class="auth-fail">{{ auth.licenseImageMessage }}</p>
        {% endif %}
        
        <p>
        	{% if auth.status==200 %}
                驾照领取时间在一年以下、照片不清晰、不是本人都会影响审核结果。


        	{% endif %}
        </p>


        <div class="file"  id="auth-file2">
            <div class="auth-img-cont">
            <img {% if auth.status==200 %} src="{{ asset('/bundles/autowap/images/auth3.png') }}"{% else %} src="{{ auth.licenseImage }}"{% endif %} width="100%">
            </div>
        </div>
        
        
         {% if not auth.status!=299 %}
            <div class="upload-content">
            	<p>上传照片</p>
                <input type="file" img-data="#auth-file2" name="file2"  class="upload" capture="camera"
                       accept="image/*"  />
            </div>
        {% endif %}
    </div>
    <div class="auth-btn">
        <button type="button" class="upload-submit">提交认证</button>
    </div>

</form>

{% endblock %}