{% extends "AutoMobileBundle::base.html.twig" %}
{% set page_id  = ['order','change_coupon'] %}
{% block content %}
<div class="top-menu">
    优惠券
    <span><a href="{{ path('auto_mobile_rental_order_show',{id:order.id,coupon:0}) }}">不使用</a></span>
</div>
<article class="content">
  
  {% for coupon in coupons %}
  <!--当前选中的优惠券--->
<a href="{{ path('auto_mobile_rental_order_show',{id:order.id,coupon:coupon.couponID}) }}">
	<section coupon-value="{{ coupon.amount }}" coupon-id="{{ coupon.couponID }}">
		<div class="row">
			<div class="left-cont">
				<div class="incont">{{ coupon.amount }}</div>
			</div>
			<div class="coup-text">
				<p>{{ coupon.name }}</p>
				<p class="date">有效期至{{ coupon.endTime }}</p>
			</div>
      {% if order.coupon and coupon.couponID== order.coupon.id %}
			<div class="cheched"></div>
      {% endif %}
		</div>
	</section>
</a>
	{% endfor %}
</article>

{% endblock %}