{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['car', 'list'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'列表','prenav':'保养'} %}
     <div class="ui main-content grid">
         <div class="ui bottom attached segment bk_gray no_border" >
             <form action="{{ path("auto_admin_upkeep_list") }}" method="get" >
                 <table class="ui very basic table no_border" >
                     <tbody >
                     <tr>
                         <td>
                             <select name="licensePlace" id="licensePlace" class="ui dropdown"  style="width: 100px;">
                                 <option value="">归属地</option>
                                 {% for  licensePlace in licensePlaces %}
                                     <option value="{{ licensePlace.id }}">{{ licensePlace.name }}</option>
                                 {% endfor %}
                             </select>
                         </td>
                         <td>
                             <input class=" time_input" type="text"  name="licensePlate" placeholder="请输入车牌号" value="">
                         </td>
                         <td>
                             <button class="ui teal button  " type="submit">查询</button>
                         </td>
                         <td></td>
                         <td></td>
                         <td></td>

                     </tr>
                     </tbody>
                 </table>
             </form>
         </div>
         <div class="fifteen wide column">
             <table class="ui very basic table">
                 <thead>
                 <tr>
                     <th>车牌号</th>
                     <th>下次保养时间</th>
                     <th>下次保养里程</th>
                     {#<th>距下次保养时间</th>#}
                     {#<th>距下次保养里程</th>#}
                     <th>保养时间</th>
                     <th>记录时间</th>
                     <th>操作</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for upkeep in upkeeps %}
                     <tr>
                         <td>{{ upkeep.rentalCar.license }}</td>
                         <td>{{ upkeep.nextUpkeepTime|date('Y-m-d') }}</td>
                         <td>{{ upkeep.nextMileage }}km</td>
                         {#<td>{{ upkeep.upkeepDF }}天</td>#}
                         {#<td>{{ upkeep.mileageDF }}km</td>#}
                         <td>{{ upkeep.upkeepTime|date('Y-m-d') }}</td>
                         <td>{{ upkeep.createTime|date('Y-m-d H:i:s') }}</td>
                         <td><a href="{{ path('auto_admin_upkeep_edit',{'id':upkeep.id}) }}"><small>编辑</small></a>|<a href="{{ path('auto_admin_upkeep_delete',{'id':upkeep.id}) }}"><small>删除</small></a></td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>

             {% if total > 1 %}
                 {% spaceless %}
                     {% set l = min(max(1, page - 2), total - 4) %}
                     {% set h = l + 4 %}

                     {% set k = 1 %}
                     <div class="ui pagination menu">
                         {% for i in 1..9 %}
                             {% if k <= 2 or (l <= k and k <= h) or (total - 1 <= k and k <= total) %}
                                 {% if k != page %}
                                     <a class="item" href="{{ path("auto_admin_upkeep_list",{'page':k}) }}">{{ k }}</a>
                                 {% else %}
                                     <a class="active item">{{ k }}</a>
                                 {% endif %}
                             {% endif %}

                             {% if (k == 2 and l > 3) or (k == h and h < total - 2) %}
                                 <i>&hellip;</i>
                                 {% set k = k == 2 ? l : total - 1 %}
                             {% else %}
                                 {% set k = k + 1 %}
                             {% endif %}
                         {% endfor %}
                     </div>
                 {% endspaceless %}
             {% endif %}


         </div>
         <div class="one wide column">
         </div>

     </div>


 {% endblock %}
