{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['appeal', 'new'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'详情','prenav':'申诉管理'} %}



         <div class="ui main-content grid">

             <div class="fifteen wide column">

                     <div class=" field" style="float:left;clear: none;">
                         <label>用户证件照</label>
                         <div class="field-img-cont clearfix jqzoom">
                             <img  alt="证件照片"src="{##}{{ member.authMember.licenseImage|photograph }} " style="width:440px;" class="main_img">
                         </div>
                     </div>
                     <div class="field other" style="float: left; width: 52%;margin-left: 5%;clear: none;">
                         <table class="ui very basic table black">
                             <tbody>
                             <tr>
                                 <td  class="black_list_new_left">证件照审核</td>
                                 <td>通过</td>
                             </tr>
                             <tr>
                                 <td class="black_list_new_left" >拉黑状态</td>
                                 <td>已拉黑</td>
                             </tr>

                             <tr  >
                                 <td  class="black_list_new_left">姓名</td>
                                 <td>{{ member.authMember.member.name }}</td>
                             </tr>
                             <tr >
                                 <td  class="black_list_new_left">驾驶证号</td>
                                 <td>{{ member.authMember.IDNumber|default() }}</td>

                             </tr>


                             <tr  >
                                 <td class="black_list_new_left">档案号</td>
                                 <td>{{ member.authMember.documentNumber|default() }}</td>

                             </tr>

                             <tr  >
                                 <td  class="black_list_new_left">证件有效期</td>
                                 <td>{{ member.authMember.licenseStartDate|default()|date('Y-m-d') }}至{{ blackStatus.authMember.licenseEndDate|default()|date('Y-m-d') }}</td>

                             </tr>

                                 <tr >
                                     <td class="black_list_new_left">拉黑手机号</td>
                                     <td class="red">{{ member.authMember.member.mobile }}</td>
                                 </tr>

                             <tr >
                                 <td class="black_list_new_left">关联手机号</td>
                                 <td>
                                     {% for authNumber in authNumbers %}
                                         {{ authNumber.member.mobile }}
                                         <span class="bl_chain_mobile">|</span>
                                     {% endfor %}
                                 </td>

                             </tr>

                             </tbody>
                         </table>
                     </div>
                     <div class="black_list_new_form_div">

                         <table class="ui very basic table">
                             <tbody>
                             <tr>
                                 <td>
                                     <span class="black_list_new_left">拉黑时限：</span>
                                     <span class="black_pr">{% if member.endTime %}{{ blackdays }}天{% else %}永久{% endif %}</span>
                                     <span class="black_list_new_left black_bl"> 拉黑种类：</span>
                                         <span class="black_pr">

                                             {% if member.reason==1 %}个人征信不良
                                             {% elseif member.reason==2 %}严重违反用户协议
                                             {% elseif member.reason==3 %}车辆租赁严重过失
                                             {% endif %}
                                         </span>

                                         <span class="black_list_new_left black_bl"> 申诉状态：</span>
                                             {%  if appeal.handleTime  %}
                                             {% if appeal.status ==0 %}<span class="black_pr" >申诉失败</span>
                                             {% else %}<span class="black_pr" >申诉成功</span>{% endif %}
                                             {% else %}<span class="black_pr orange">已申诉</span>{% endif %}
                                     <span class="black_list_new_left black_bl"> 拉黑时间：</span>
                                     <span class="black_pr">{{ member.createTime|date('Y/m/d H:i:s') }}</span>
                                     <span class="black_list_new_left black_bl ndis"> 操作人：</span>
                                     <span class="black_pr ndis">13331195120（程诚）</span>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="no_border_top">
                                     <span class="black_list_new_left">拉黑原因：</span>
                                     <span class="red">{{ member.authMember.member.mobile }}</span>{{ member.detail  }}
                                 </td>
                             </tr>
                             {%  if appeal.handleTime  %}
                                 {% if appeal.status ==0 %}
                                 <tr>
                                     <td>
                                         <span class="black_list_new_left">申诉时间：</span>
                                         <span class="black_pr">{{appeal.createTime|date('Y/m/d H:i:s') }}</span>
                                         <span class="black_list_new_left black_bl ndis"> 申诉操作：</span>
                                         <span class="black_pr ndis">13331195120（程诚）</span>
                                         <span class="black_list_new_left black_bl"> 审核时间：</span>
                                         <span class="black_pr">{{appeal.handleTime|date('Y/m/d H:i:s') }}</span>
                                         <span class="black_list_new_left black_bl ndis"> 审核操作：</span>
                                         <span class="black_pr ndis">13331195120（程诚）</span>
                                     </td>
                                 </tr>

                                 <tr>
                                     <td class="no_border_top">
                                         <span class="black_list_new_left">申诉原因：</span>
                                         <span class="red">{{ member.authMember.member.mobile }}</span>{{ appeal.reason  }}
                                     </td>
                                 </tr>
                                 <tr  >
                                     <td>
                                             <a href="{{path ("auto_admin_appeal_list") }}"class="ui teal button  "  style="display:block;margin:0 auto;width: 20%;" >返回</a>
                                     </td>
                                 </tr>
                                 {% else %}
                                     <tr  >
                                     <td>
                                         <a href="{{path ("auto_admin_appeal_list") }}"class="ui teal button  "  style="display:block;margin:0 auto;width: 20%;" >返回</a>
                                     </td>
                                     </tr>
                             {% endif %}
                             {% else %}
                             <tr>
                                 <td>
                                     <span class="black_list_new_left">申诉时间：</span>
                                     <span class="black_pr">{{appeal.createTime|date('Y/m/d H:i:s') }}</span>
                                     <span class="black_list_new_left black_bl ndis"> 操作人：</span>
                                     <span class="black_pr ndis">13331195120（程诚）</span>
                                 </td>
                             </tr>

                             <tr>
                                 <td class="no_border_top">
                                     <span class="black_list_new_left">申诉原因：</span>
                                     <span class="red">{{ member.authMember.member.mobile }}</span>{{ appeal.reason  }}
                                 </td>
                             </tr>
                             <tr  >
                                 <td>
                                     <div class="black_button">
                                     <a href="{{path ("auto_admin_appeal_list") }}"class="ui teal button  "  >返回</a>
                                     {% if is_granted('ROLE_ADMIN') %}
                                     <a href="{{ path('auto_admin_appeal_blacklist_delete',{'id':member.id})  }}" class="ui teal button five">移除黑名单</a>
                                     <a href="{{ path('auto_admin_appeal_fail',{'id':appeal.id})  }}" class="ui teal button five" >申诉失败</a>
                                     {% endif %}
                                     </div>
                                 </td>
                             </tr>
                            {% endif %}
                             </tbody>
                         </table>


                     </div>

             </div>
         </div>

 {% endblock %}
