{% extends "::base.html.twig" %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/semantic/dist/semantic.min.css') }}">
    {% stylesheets "bundles/autoadmin/css/*.less" filter="less, cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/yui3/yui/yui-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/semantic/dist/semantic.min.js') }}"></script>
    {% javascripts "bundles/autoadmin/js/*.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}

{% block body %}
    <div id="admin" class="{{ page_id|default([])|join(' ') }}">

        {% block content %}


        {% endblock %}

    </div>
{% endblock %}
