{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['car', 'list'] %}
 {% block content %}
     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'列表','prenav':'验证码列表'} %}
     <div class="ui main-content grid">




         <div class="ten wide column">
             <table class="ui very basic table">
                 <thead>
                 <tr>
                     <th>验证码</th>
                     <th>手机号</th>
                     <th>发送时间</th>
                     <th>失效时间</th>
                     <th>发送类型</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for sms in SMSCodes %}
                     <tr>
                         <td>{{ sms.code }}</td>
                         <td>{{ sms.mobile }}</td>
                         <td>{{ sms.createTime|date('Y-m-d H:i:s') }}</td>
                         <td>{{ sms.endTime|date('Y-m-d H:i:s') }}</td>
                         <td>{% if sms.kind==1 %} 注册 {% endif %}{% if sms.kind==2  %}找回密码{% endif %}</td>

                     </tr>
                 {% endfor %}
                 </tbody>
             </table>



             {% if total > 1 %}
                 {% spaceless %}
                     {% set l = min(max(1, page - 2), total - 4) %}
                     {% set h = l + 4 %}

                     {% set k = 1 %}
                     <div class="ui pagination menu">
                         {% for i in 1..9 %}
                             {% if k <= 2 or (l <= k and k <= h) or (total - 1 <= k and k <= total) %}
                                 {% if k != page %}
                                     <a class="item" href="{{ path("auto_admin_sms_code_list",{'page':k}) }}">{{ k
                                         }}</a>
                                 {% else %}
                                     <a class="active item">{{ k }}</a>
                                 {% endif %}
                             {% endif %}

                             {% if (k == 2 and l > 3) or (k == h and h < total - 2) %}
                                 <i>&hellip;</i>
                                 {% set k = k == 2 ? l : total - 1 %}
                             {% else %}
                                 {% set k = k + 1 %}
                             {% endif %}
                         {% endfor %}
                     </div>
                 {% endspaceless %}
             {% endif %}





         </div>
         <div class="one wide column">
         </div>

         <div class="four wide monitor column">
             <div class="ui secondary vertical pointing menu">
                 <a class="active item">验证码列表 </a>
             </div>
         </div>
     </div>


 {% endblock %}
