{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['refund_record', 'check'] %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'退款','prenav':'退款审核'} %}
     <div class="ui main-content grid">

         <div class="sixteen wide column">
             <h4 class="ui horizontal  header"> 申请用户信息 </h4>
             <table class="ui teal table" style="border-top: none;border-left: none;border-right: none;">
                 <thead>
                 <tr>
                     <th>申请时间</th>
                     <th>审核时间</th>
                     <th>手机号</th>
                     <th>姓名</th>
                     <th>未处理违章</th>
                     <th>未付款订单</th>
                     <th>未缴费记录</th>
                     <th>账户余额</th>
                     <th>状态</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td>{{ refundRecord.createTime | date('Y-m-d H:i:s') }}</td>
                     <td>{{ refundRecord.checkTime | date('Y-m-d H:i:s') }}</td>
                     <td>{{ refundRecord.member.mobile }}</td>
                     <td>{{ refundRecord.member.name }}</td>
                     <td>{% if isHasIllegalRecord %}异常{% else %}正常{% endif %}</td>
                     <td>{% if isHasOrder %}异常{% else %}正常{% endif %}</td>
                     <td>{% if isHasPaymentOrder %}异常{% else %}正常{% endif %}</td>
                     <td>{{ refundRecord.member.wallet }}</td>
                     <td>{{ status }}</td>
                 </tr>
                 </tbody>
             </table>
         </div>
         <div class="sixteen wide column">
             <h4 class="ui horizontal  header"> 退款说明 </h4>
             <p>{{ refundRecord.refundInstrustions }}</p>
         </div>

         <div class="sixteen wide column">
             <h4 class="ui horizontal  header"> 退款单信息 </h4>
             <table class="ui teal table" style="border-top: none;border-left: none;border-right: none;">
                 <thead>
                 <tr>
                     <th>充值/退款渠道</th>
                     <th>渠道流水号</th>
                     <th>退款金额</th>
                     <th>账户扣除</th>
                     <th>提交退款时间</th>
                     <th>操作</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for v in rechargeOrders %}
                     <tr>
                         <td>
                             {% if(v.wechatTransactionId) %}
                                 微信
                             {% elseif(v.alipayTradeNo) %}
                                 支付宝
                             {% endif %}
                         </td>
                         <td>
                             {% if(v.wechatTransactionId) %}
                                 {{ v.wechatTransactionId }}
                             {% elseif(v.alipayTradeNo) %}
                                 {{ v.alipayTradeNo }}
                             {% endif %}
                         </td>
                         <td>{{ v.actualRefundAmount }}</td>
                         <td>{{ v.refundAmount }}</td>
                         <td>{% if v.refundTime %}{{ v.refundTime | date('Y-m-d H:i:s') }}{% endif %}</td>
                         <td>{% if v.refundTime %}退款成功{% else %}<a class="retrunbtn" href="{{ path('auto_admin_refund_record_refund_do',{'id':refundRecord.id,'oId':v.id}) }}">退款</a>{% endif %}</td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>
         </div>

         <div  class="sixteen wide column">
             <a  class="ui teal button " href="{{ path('auto_admin_refund_record_list') }}">返回</a>
         </div>
     </div>
     <div class="apply-ok door">
         <div>
             <p><span class="left-row">充值/退款渠道：</span><span class="channel"></span></p>
             <p><span class="left-row">渠道流水号：</span><span class="serialnum"></span></p>
             <p><span class="left-row">退款金额：</span><span class="returnfund"></span></p>
             <p><span class="left-row">账户扣除：</span><span class="deductfund"></span></p>
             <p><span class="left-row">提交退款时间</span><span class="returntime"></span></p>
             <p class="text-center">确认发起退款吗？</p>
             <button class="ui teal button refund-cancel">取消</button>
             <button class="ui teal button right submit-do" >确认</button>

         </div>
     </div>

 {% endblock %}