{{ form_start(form) }}
<div class="ui form">
        <div class=" field">
            <label>{{ form_label(form.name) }}</label>
            {{ form_widget(form.name,{'attr': {'placeholder':'地区' }} ) }}
        </div>

    <div class=" field">
        <label>{{ form_label(form.parent) }}</label>
        {{ form_widget(form.parent,{'attr': {'class':'ui dropdown' }} ) }}
    </div>
    <div class="fields">
        <div class="eight wide field">
            <label>坐标</label>
            {{ form_widget(form.latitude,{'attr': {'placeholder':'latitude','class':'ui dropdown latitude' }} ) }}
        </div>
        <div class="eight wide field">
            <label> &nbsp;</label>
            {{ form_widget(form.longitude,{'attr': {'placeholder':'longitude','class':'ui dropdown longitude' }} ) }}
        </div>

    </div>

    <div class="field">
        <div id="area-business-allmap"></div>
    </div>
    <button class="ui teal button" type="submit">提交</button>
</div>

{{ form_end(form) }}
